@font-face {
    font-family:Roboto_brød;
    src: url(Font/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto_overskrift;
    src: url(Font/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf);
}

/*Dette er generalt for alt på siden*/
*{
    font-family: Roboto_brød;
}

body {
    margin: 0%;
}
body p, h1, h2, h3 {
    margin-right: 16px;
    margin-left: 16px;
}

/*FÆLLES STYLING STARTER HER*/

/*forneden er alt relateret til navigationsbaren i headeren inkl. logo, knap og dropdown menu*/
header {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2.5rem;
    margin-left: 16px;
    margin-right: 16px;
}
.nav_logo img {
    width: 30%;
    height: auto;
}
.nav_billet_button {
    border: none;
    border-radius: 0.2rem;
    background-color: #810029;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    height: 1rem;
    width: 10rem;
}
.nav_billet_button a {
    text-decoration: none;
    color: white;
}
/*NAV SLUT*/

/*Dropwon menuen på telefon*/
/*for at lave denne er denne kilde brugt https://www.youtube.com/watch?v=bO9qHAhXbVA*/
a {
    color: white;
    text-align: center;
}
header ul {
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #810029;
    position: absolute;
    width: 100%;
    margin-top: 90px;
    z-index: 2;
}
header ul a {
    display: block;
    padding: 20px;
    text-decoration: none;
}

header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .5s;
}
header .menu_icon {
    padding: 28px 20px;
    position: relative; /*den her skal være relavtiv så vi på barnet kan bruge absolut og på den måde rykke rundt på tingene*/
    float: right;
    cursor: pointer;
    margin-right: 40px;
}


/*forneden styler de tre linjer de giver burgermenu iconet*/
header .menu_icon .nav_icon {
    background-color: black;
    display: block;
    height: 6px;
    width: 35px;
    position: absolute;
}
header .menu_icon .nav_icon:before {
    background-color: black;
    content: ""; /*Man laver en tom content for at have noget at style på*/
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 12px;
    
}
header .menu_icon .nav_icon:after {
    background-color: black;
    content: ""; /*Man laver en tom content for at have noget at style på*/
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: -12px;

}
header .menu_btn {
    display: none;
}
header .menu_btn:checked~.menu {
    max-height: 240px;
}
/*BURGER MENU SLUT*/

/*FOOTER TIL FÆLLES BRUG*/
.facebookIkon {
    width: 70px;
    padding: 20px;
    margin-top: 50px;
}

footer {
    margin-top: 40px;
    background-color: #F9F6F0;
    text-align: center;
}


footer a {
    color: black;
    text-decoration: none;
}

footer ul {
    list-style-type: none;
    margin-bottom: 30px;
    padding-left: 0px;
}

footer li {
    padding: 5px;
}

footer p {
    text-align: center;
}

.footerLinks {
    margin-top: 20px;
}

.footerBundtekst {
    font-size: 10px;
    margin-bottom: 0px;
}

.overskriftfooter {
    font-weight: bolder;
    font-size: 20px;
}
/*FOOTER SLUT*/
/*HER SLUTTER FÆLLES STYLING*/

/*Herunder redigeres kontakt os billede*/
.kontaktos-billede {
    display: block;
    height: auto;
    width: 92%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}


/*for neden er alt relateret til kontakt os siden*/
h1 {
    margin-left: 16px;
    text-align: left;
    margin-bottom: 5px;
    font-family: Roboto_overskrift;
}
.box{
    background-color: #810029;
    height: 3px;
    width: 109px;
    margin-right: auto;
    margin-left: 16px; 
    margin-bottom: 30px;
    text-align: left;
}
/*Herunder laves de sociale links facebook, insta, mail*/
.kontakt_container a{
    display: flex;
    flex-direction: row;
    justify-content:center;
    color: black;
    text-decoration: none;
}
.kontakt_container p {
    text-align: center;
    font-size: 20px;
    margin-bottom: 3rem;
}
.kontakt_mail img {
    width: 30px;
    height: 30px;
}
.kontakt_insta img {
    width: 30px;
    height: 30px;
}
.kontakt_facebook img {
    width: 30px;
    height: 30px;
}
.adresse_pin img {
    width: 30px;
    height: 30px;
}

/*herunder laves alt vedrørende citatteksten og citatet*/
.tekst-box1 {
    background-color: #810029;
    height: 3px;
    width: 150px;
    margin-right: auto;
    margin-left: 240px;
}
.tekst-box2 {
    background-color: #810029;
    height: 3px;
    width: 150px;
    margin-right: auto;
    margin-left: 16px; 
}
.citat1 {
    width: 30px;
    height: 30px;
    margin-left: 16px;
    margin-top: 30px;
}
.citat2 {
    width: 30px;
    height: 30px;
    margin-left: 365px;
    margin-bottom: 30px;
}
.citat-txt {
    text-align: center;
    font-size: 20px;
    margin-bottom: 3px;
    margin-top: 3px;
}

/*herunder laves alt vedrørende kontaktformularen*/
form {
    height: 15rem;
    margin-left: 135px;
    margin-bottom: 10rem;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 30px;
}
.formular_button {
    border: none;
    border-radius: 0.2rem;
    background-color: #810029;
    padding: 1rem;
    height: 1rem;
    width: 7rem;
    text-align: center;
    margin-bottom: 1rem;
}
.formular_button a {
    text-decoration: none;
    justify-content: center;
    color: white;
}

/*Herunder laves alt vedrørende kontaktformularen*/
input {
    width: 60%;
    height: 2rem;
    margin-bottom: 2rem;
    border: solid rgba(0, 0, 0, 0.082);
    border-radius: 0.4rem;
    padding-left: 0.8rem;
}

textarea {
    margin-bottom: 1rem;
    width: 90%;
    height: 7rem;
    border-style: none;
    margin-bottom: 1rem;
    border: solid 0.1rem rgba(0, 0, 0, 0.082);
    padding-left: 0.8rem;
    padding-top: 0.6rem;

}
/*Her slutter kontaktformularen*/

/*Herunder redigeres Google Maps lokationen*/
h2 {
    margin-left: 16px;
    margin-bottom: 5px;
}
.findos-box {
    background-color: #810029;
    height: 3px;
    width: 107px;
    margin-right: auto;
    margin-left: 16px; 
    margin-bottom: 30px;
}
iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 92%;
    height: 22rem;
    margin-bottom: 30px;
    border: none;
}
/*Google maps slutter her*/

/*Adressen og ikon under google maps*/
.adresse_pin {
    text-align: center;
}
.pin_txt1{
    text-align: center;
}
.pin_txt2 {
    text-align: center;
    margin-bottom: 0%;
}


/*herunder redigeres alt til ipad*/
@media screen and (min-width:760px){
    /*Nav start*/
    header {
        justify-content: space-between;
    }
    header li {
        float: left;
    }
    header li a {
        padding: 20px 30px;
        color: black;
    }
    header .menu {
        clear: none;
        float: center;
        max-height: none;
        margin-left: 150px;
        margin-top: 32px;
    }
    header .menu_icon {
        display: none;
    }
    header ul {
        width: 400px;
        background-color: white;
    }
    .menu a {
        padding: 15px;
    }
    .nav_logo {
        margin-left: 5px;
    }
    .nav_billet_button {
        margin-top: 30px;
        padding-left: 0;
        padding-right: 0;
    }
    /*Nav SLUT*/
    

    /*Footer styling START*/
    .footer_container {
        display: flex;
        justify-content: space-evenly;
    }

    .footerAdresse {
        display: none;
    }

    .facebookIkon {
        width: 100px;
    }

    .footerLinks {
        text-align: left;
    }
    /*Footer styling SLUT*/
    /*Fælles styling slutter her*/

    .box {
        margin-left: 50px;
        width: 105px;
    }
    .findos-box {
        background-color: #810029;
        height: 3px;
        width: 105px;
        margin-right: auto;
        margin-left: 16px; 
        margin-bottom: 3rem;
        text-align: left;
    }
    /*Herunder laves de sociale links facebook, insta, mail*/
    .kontakt_container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    /*herunder laves alt med teksten med citeringen*/
    .tekst-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: 40px;
        margin-right: 40px;
        height: auto;
    }

    .tekst-wrapper p {
        width: 50%;
    }

    .tekst-box1 {
        display: flex;
        background-color: #810029;
        height: 3px;
        width: 150px;
        margin-left: 560px;
    }
    .tekst-box2 {
        background-color: #810029;
        height: 3px;
        width: 150px;
        margin-left: 50px;
        margin-bottom: 30px;
    }
    .citat1 {
        height: 50px;
        width: 50px;
        margin-left: 70px;
    }
    .citat2 {
        height: 50px;
        width: 50px;
        margin-left: 650px;
    }
    .citat-txt {
        font-size: 35px;
        text-align: center;
        margin-top: 3px;
        margin-bottom: 3px;
    }
    /*herunder redigeres kontakt os billedet til ipad*/
    .kontaktos-billede {
        width: 87%;
    }
    iframe {
        width: 87%;
    }
    h1 {
        margin-left: 50px;
    }
    h2 {
        margin-left: 50px;
    }
    .findos-box {
        margin-left: 50px;
    }
    form {
        margin-left: 50px;
    }

}
/*herunder redigeres alt til Desktop*/

@media screen and (min-width:1200px){
    /*HEADER STARTER HER*/
    header{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .menu {
        font-size: 20px;
        width: 700px;
        display: flex;
        justify-content: space-between;
        background-color: none;
    }
    .menu ul{
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .nav_billet_button {
        padding: 20px;
        font-size: 20px;
    }
    .nav_billet_button a {
        margin: auto;
    }
    /*HEADER SLUTTER HER*/

    h1 {
        margin-left: 135px;
    }
    h2 {
        margin-left: 135px;
    }
    .box {
        margin-left: 135px;
    }
    .findos-box {
        background-color: #810029;
        height: 3px;
        width: 107px;
        margin-right: auto;
        margin-left: 135px; 
        margin-bottom: 3rem;
        text-align: left;
    }
    iframe {
        width: 78%;
    }

    /*herunder ændres kontakt os billedet til desktop*/
    .kontaktos-billede {
        width: 78%;
    }    

    /*Herunder ændres alt vedrørende citatteksten og citatet*/
    .tekst-box1 {
        margin-left: 135px;
    }
    .tekst-box2 {
        margin-left: 910px;
    }
    .tekst-wrapper {
        margin-left: 119px;
        margin-right: 119px;
    }
    .citat1 {
        margin-left: 260px;
    }
    .citat2 {
        margin-left: 870px;
    }

    /*herunder laves alt vedrørende kontaktformularen til desk*/
    form {
        margin-left: 135px;
    }

    /*herunder laves alt vedrørende google maps lokationen til desk*/
    iframe {
        width: 78%;
    }

}