body {
    margin: 0;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
/*beneath is everything related to the header*/
header {
    display: flex;
    justify-content: space-evenly;

}
/*beneath is everything related to the footer*/
footer { 
    background-color: #FEFEFE;
    display: flex;
    justify-content: space-evenly;
}

/*beneath is everything related to the logo in the header*/
.nav_logo img {
    width: 50%;
    height: auto;
}
/*beneath is everything related to the sales button in the header nav*/ 
.nav_billet_button {
    border: none;
    border-radius: 0.2rem;
    background-color: #810029;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    height: 2.5rem;
    width: 10rem;
    margin-left: 2rem;
}
.nav_billet_button a {
    text-decoration: none;
    color: white;
}

/*Dropwon menuen på telefon*/
/*for at lave denne er denne kilde brugt https://www.youtube.com/watch?v=bO9qHAhXbVA*/
a {
    color: white;
}

header ul {
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: grey;
    position: absolute;
    width: 100%;
    margin-top: 80px;
    z-index: 2;
}

header ul a {
    display: block;
    padding: 20px;
    text-decoration: none;
}

header ul a:hover {
    background-color: grey;
}

header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s;
}

header .menu_icon {
    padding: 28px 20px;
    position: relative;
    /*den her skal være relavtiv så vi på barnet kan bruge absalut og på den måde rykke rundt på tingene*/
    float: right;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 10px;
}

/*Styler de tre linjer de giver burgermenu iconet */
header .menu_icon .nav_icon {
    background-color: black;
    display: block;
    height: 6px;
    width: 35px;
    position: absolute;
}

header .menu_icon .nav_icon:before {
    background-color: black;
    content: "";
    /*Man laver en tom content for at have noget at style på*/
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 12px;
    
}

header .menu_icon .nav_icon:after {
    background-color: black;
    content: "";
    /*Man laver en tom content for at have noget at style på*/
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: -12px;

}

header .menu_btn {
    display: none;
}

header .menu_btn:checked~.menu {
    max-height: 240px;
}
