body {
    margin: 0;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 100%;
}
/*forneden er alt relateret til navigationsbaren i headeren inkl. logo, knap og dropdown menu*/
header {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2.5rem;
}
.nav_logo img {
    width: 50%;
    height: auto;
}
.nav_billet_button {
    border: none;
    border-radius: 0.2rem;
    background-color: #810029;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    height: 1.5rem;
    width: 10rem;
    margin-left: 2rem;
}
.nav_billet_button a {
    text-decoration: none;
    color: white;
}

/*Dropwon menuen på telefon*/
/*for at lave denne er denne kilde brugt https://www.youtube.com/watch?v=bO9qHAhXbVA*/
a {
    color: white;
    text-align: center;
}
header ul {
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #810029;
    position: absolute;
    width: 100%;
    margin-top: 80px;
    z-index: 2;
}
header ul a {
    display: block;
    padding: 20px;
    text-decoration: none;
}
header ul a:hover {
    background-color: grey;
}
header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .5s;
}
header .menu_icon {
    padding: 28px 20px;
    position: relative; /*den her skal være relavtiv så vi på barnet kan bruge absolut og på den måde rykke rundt på tingene*/
    float: right;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 10px;
}

/*forneden styler de tre linjer de giver burgermenu iconet*/
header .menu_icon .nav_icon {
    background-color: black;
    display: block;
    height: 6px;
    width: 35px;
    position: absolute;
}
header .menu_icon .nav_icon:before {
    background-color: black;
    content: ""; /*Man laver en tom content for at have noget at style på*/
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 12px;
    
}
header .menu_icon .nav_icon:after {
    background-color: black;
    content: ""; /*Man laver en tom content for at have noget at style på*/
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: -12px;

}

header .menu_btn {
    display: none;
}
header .menu_btn:checked~.menu {
    max-height: 240px;
}


/*for neden er alt relateret til kontakt os siden*/
h1 {
    text-align: center;
    margin-bottom: 2rem;
}
.kontakt_container a{
    display: flex;
    flex-direction: row;
    justify-content:center;
    color: black;
    text-decoration: none;
}
.kontakt_container p {
    text-align: center;
    font-size: 20px;
    margin-bottom: 3rem;
}

/*herunder laves alt vedrørende kontaktformularen*/
form {
    height: 15rem;
    margin-left: 2rem;
    margin-bottom: 10rem;
}
.formular_button {
    color: white;
    border: none;
    border-radius: 0.2rem;
    background-color: #810029;
    padding: 1rem;
    height: 1rem;
    width: 7rem;
    text-align: center;
    margin-bottom: 1rem;
}
.formular_button a {
    text-decoration: none;
    justify-content: center;
}
input {
    width: 60%;
    height: 2rem;
    margin-bottom: 2rem;
    border-style: hidden;
    border-bottom: solid 0.1rem;
}

textarea {
    margin-bottom: 1rem;
    width: 90%;
    height: 7rem;
    border-style: none;
    margin-bottom: 1rem;
    border: solid 0.1rem;
}

/*under er alt vedrørende google maps billedet og linket*/
h2 {
    text-align: center;
}
iframe {
    width: 100%;
    height: 22rem;
    margin-bottom: 3rem;
    border: none;
}
.adresse_pin {
    text-align: center;
}
.pin_txt1{
    text-align: center;
}
.pin_txt2 {
    text-align: center;
    margin-bottom: 7rem;
}

/*forneden er alt relateret til fooeteren*/
footer { 
    background-color: lightgrey;
    height: 7rem; 
}
.footer_container {
    display: flex;
    justify-content: space-evenly;

}
footer a {
    color: black;
    text-decoration: none;
}
footer ul {
    list-style-type: none;
    margin: 0;
}
footer p {
    text-align: center;
    margin-top: 2rem;
}