@font-face {
    font-family:Roboto_brød;
    src: url(Font/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto_overskrift;
    src: url(Font/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf);
}

/*Dette er generalt for alt på siden*/
*{
    font-family: Roboto_brød;
}

/*FÆLLES STYLE START*/


/*forneden er alt relateret til navigationsbaren i headeren inkl. logo, knap og dropdown menu*/
header {
    display: flex;
    justify-content: space-evenly;
}
.nav_logo img {
    width: 50%;
    height: auto;
}
.nav_billet_button {
    border: none;
    border-radius: 0.2rem;
    background-color: #810029;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    height: 1.5rem;
    width: 10rem;
    margin-left: 2rem;
}
.nav_billet_button a {
    text-decoration: none;
    color: white;
}

/*Dropwon menuen på telefon*/
/*for at lave denne er denne kilde brugt https://www.youtube.com/watch?v=bO9qHAhXbVA*/
a {
    color: white;
    text-align: center;
}
header ul {
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #810029;
    position: absolute;
    width: 100%;
    margin-top: 80px;
    z-index: 2;
}
header ul a {
    display: block;
    padding: 20px;
    text-decoration: none;
}
header ul a:hover {
    background-color: grey;
}
header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .5s;
}
header .menu_icon {
    padding: 28px 20px;
    position: relative; /*den her skal være relavtiv så vi på barnet kan bruge absolut og på den måde rykke rundt på tingene*/
    float: right;
    cursor: pointer;
    margin-right: 20px;
}

/*forneden styler de tre linjer de giver burgermenu iconet*/
header .menu_icon .nav_icon {
    background-color: black;
    display: block;
    height: 6px;
    width: 35px;
    position: absolute;
}
header .menu_icon .nav_icon:before {
    background-color: black;
    content: ""; /*Man laver en tom content for at have noget at style på*/
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 12px;
    
}
header .menu_icon .nav_icon:after {
    background-color: black;
    content: ""; /*Man laver en tom content for at have noget at style på*/
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: -12px;

}

header .menu_btn {
    display: none;
}
header .menu_btn:checked~.menu {
    max-height: 240px;
}









/*forneden er alt relateret til fooeteren*/
footer { 
    background-color: lightgrey;
    height: 7rem; 
}
.footer_container {
    display: flex;
    justify-content: space-evenly;

}
footer a {
    color: black;
    text-decoration: none;
}
footer ul {
    list-style-type: none;
    margin: 0;
}
footer p {
    text-align: center;
    margin-top: 2rem;
}
/*FÆLLES STYLE SLUT*/


/*Styling af body*/
/*Styling af intro */
/*style af slideshow START */
.billede_slide{
    width: 100%;
}

.slideshowBeholder {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-top: 1px;
  }

  .tilbage, .næste {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .næste {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .tilbage:hover, .næste:hover {
    background-color: #810029;
  }

  .nummertekst {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
/*style af slideshow SLUT */

/*styling af intro START*/

.intro{
    text-align: center;
}

.teatermasker{
    width: 150px;
    text-align: center;
}

.overskrift{
    font-size: 55px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: Roboto_overskrift;
}

.udnertekst{
    font-size: 45px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Roboto_overskrift;
}

.adresse{
    font-size: 15px;
    margin-top: 5px;
}

.box{
    background-color: #810029;
    height: 3px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}
/*styling af intro SLUT*/

/*Styling af køb billet START*/

.købBillet{
    text-align: center;
}

.overskrift_købBillet{
    font-size: 40px;
    margin-bottom: 5px;
    margin-top: 65px;
    font-family: Roboto_overskrift;
}

.online_ikon{
    width: 100px;
    margin-bottom: 0px;
}

.online{
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.online_beskrivelse{
    font-size: 15px;
    margin-top: 0px;
    width: 200px;
    margin-right:auto;
    margin-left:auto;
}

.iDøren_ikon{
    width: 100px;
    margin-bottom: 0px;
}

.idøren{
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.idøren_beskrivelse{
    font-size: 15px;
    margin-top: 0px;
    width: 200px;
    margin-right:auto;
    margin-left:auto;
}
/*Styling af køb billet SLUT*/

/*Bliv frivillig START*/
.blivFrivillig{
    text-align:center;
    margin-top: 60px;
}

.frivilligimg{
    width: 350px;
    height: 450px;
    position: relative;
}

.frivilligTekst{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 1550px;
    font-size:30px;
    color:#FFFFFF;
    font-family: Roboto_overskrift;
}

.box_frivillig{
    background-color: #FFFFFF;
    height: 3px;
    width: 130px;
    margin-left: auto;
    margin-right: auto;
    position:absolute;  
    top: 1620px;
}

.frivillig_overall, .skuespiller_overall{
    display: flex;
    justify-content: center;
}
/*Bliv frivillig SLUT*/

/*Bliv skuespiller START*/
.BlivSkuespiller{
    text-align: center;
    margin-top: 60px;
}

.skuespillerimg{
    width: 350px; 
    height: 450px;
    position: relative;
}

.skuespillerTekst{
    position: absolute;
    top: 2056px;
    font-size:30px;
    color:#FFFFFF;
    font-family: Roboto_overskrift;
}

.box_skuespiller{
    background-color: #FFFFFF;
    height: 3px;
    width: 130px;
    margin-left: auto;
    margin-right: auto;
    position:absolute;  
    top: 2130px;
}

/*Bliv frivillig SLUT*/

/* starten på tidliger forstillinger (Heino) */
.imgGallery{
    width: 80%;
    margin: 10px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 16px;
    justify-content: center;

}
 .imgGallery img{
    width:  150px;
    height: 150px;
    object-fit: cover;
    display: flex;
    cursor: pointer;
    justify-content: center;
    filter: drop-shadow(8px 8px 6px rgba(34, 34, 34, 0.8));
 }

 .container {
    position: relative;
    max-width: 300px; /* Maximum width */
    margin: 0 auto;
    width:  150px;
    display: flex;
    cursor: pointer;
    justify-content: center;
}

.container .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 5px; /* Some padding */
  cursor: pointer;
}
.content h1{
    margin-top: 0%;
    margin-bottom: 0.2rem;
    text-align: center;
}
.content a {
    font-family: Roboto_brød;
    text-decoration: none;
}

 .box{
    background-color: #810029;
    height: 3px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}
 h1 {
    margin-bottom: 0.2rem;
    text-align: center;
}

/* her slutter tidlider forstillinger */

/* her starter koden til 2001 forestillinger (heino)*/

* {
    box-sizing: border-box;
  }  
  
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  .box{
    background-color: #810029;
    height: 3px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}
h1 {
    margin-bottom: 0.2rem;
    text-align: center;
}



 .fullImg{
     width: 100%;
     height: 100vh;
     background: rgb(0,0,0,0.9);
     position: fixed;
     top: 0;
     left: 0;
     display: none;
     align-items: center;
     justify-content: center;
    z-index: 10;
 }

 .fullImg img{
    width: 90%;
    max-width: 300px;
    

 }

 .fullImg span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
 }
 .imgGallery img{
    cursor: pointer;
 }

 /* her slutter koden til 2001 forestillinger */



@media screen and (min-width: 720px) {

    /*Nav start*/
    header li {
        float: left;
    }

    header li a {
        padding: 20px 30px;
    }

    header .menu {
        clear: none;
        float: right;
        max-height: none;
        margin-left: 900px;
        margin-top: 10px;
    }

    header .menu_icon {
        display: none;
    }

    header ul {
        background-color: var(--cream);
        width: 400px;
    }

    /*Nav SLUT*/

    /* kode til 2001 forstillinger */

    .column {
        -ms-flex: 25%;
        flex: 25%;
        max-width: 25%;
      }  
}









