@font-face {
    font-family: Roboto_brød;
    src: url(Font/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto_overskrift;
    src: url(Font/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf);
}

/*Dette er generalt for alt på siden*/
* {
    font-family: Roboto_brød;
}

/*FÆLLES STYLE START*/

body{
    margin: 0%;
}

body p {
    margin-left: 16px;
    margin-right: 16px;
}

/*forneden er alt relateret til navigationsbaren i headeren inkl. logo, knap og dropdown menu*/
header {
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0px 4px 5px rgb(0 0 0 / 40%);
}

.nav_logo img {
    width: 30%;
    height: auto;
    margin: 5px;
}

.nav_billet_button {
    border: none;
    border-radius: 0.2rem;
    background-color: #810029;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    height: 1rem;
    width: 10rem;
    margin: 9px;
    margin-top: 16px;
}

.nav_billet_button a {
    text-decoration: none;
    color: white;
}

/*Dropwon menuen på telefon*/
/*for at lave denne er denne kilde brugt https://www.youtube.com/watch?v=bO9qHAhXbVA*/
a {
    color: white;
    text-align: center;
}

header ul {
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #810029;
    position: absolute;
    width: 100%;
    margin-top: 77px;
    z-index: 2;
}

header ul a {
    display: block;
    padding: 20px;
    text-decoration: none;
    box-shadow: 0px 4px 5px rgb(0 0 0 / 10%);
}

header ul a:hover {
    background-color:#8100294f;
}

header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .5s;
}

header .menu_icon {
    padding: 25px 20px;
    position: relative;
    /*den her skal være relavtiv så vi på barnet kan bruge absolut og på den måde rykke rundt på tingene*/
    float: right;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*forneden styler de tre linjer de giver burgermenu iconet*/
header .menu_icon .nav_icon {
    background-color: black;
    display: block;
    height: 6px;
    width: 35px;
    position: absolute;
}

header .menu_icon .nav_icon:before {
    background-color: black;
    content: "";
    /*Man laver en tom content for at have noget at style på*/
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 12px;

}

header .menu_icon .nav_icon:after {
    background-color: black;
    content: "";
    /*Man laver en tom content for at have noget at style på*/
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: -12px;

}

header .menu_btn {
    display: none;
}

header .menu_btn:checked~.menu {
    max-height: 240px;
}


/*forneden er alt relateret til fooeteren*/
.facebookIkon {
    width: 70px;
    padding: 20px;
    margin-top: 40px;
}

footer {
    margin-top: 40px;
    background-color: #F9F6F0;
    text-align: center;
}


footer a {
    color: black;
    text-decoration: none;
}

footer ul {
    list-style-type: none;
    margin-bottom: 30px;
    padding-left: 0px;
}

footer li {
    padding: 5px;
}

footer p {
    text-align: center;
}

.footerLinks {
    margin-top: 20px;
}

.footerBundtekst {
    font-size: 10px;
}

.overskriftfooter {
    font-weight: bolder;
    font-size: 20px;
}

/*FÆLLES STYLE SLUT*/


/*Styling af body*/
/*Styling af intro */
/*style af slideshow START */
.billede_slide {
    width: 100%;
}

.slideshowBeholder {
    position: relative;
    margin: auto;
    margin-top: 1px;
}

.tilbage,
.næste {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.næste {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.tilbage:hover,
.næste:hover {
    background-color: #810029;
}

.nummertekst {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/*style af slideshow SLUT */

/*styling af intro START*/

.intro {
    text-align: center;
}

.teatermasker {
    width: 150px;
    text-align: center;
}

.overskrift {
    font-size: 55px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: Roboto_overskrift;
}

.udnertekst {
    font-size: 45px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Roboto_overskrift;
}

.adresse {
    font-size: 15px;
    margin-top: 5px;
}

.box {
    background-color: #810029;
    height: 3px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

/*styling af intro SLUT*/

/*Styling af køb billet START*/

.købBillet {
    text-align: center;
    background-color: #F0E9DA;
}

.overskrift_købBillet {
    font-size: 40px;
    margin-bottom: 5px;
    margin-top: 65px;
    font-family: Roboto_overskrift;
}

.online_ikon {
    width: 100px;
    margin-bottom: 0px;
}

.online {
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.online_beskrivelse {
    font-size: 15px;
    margin-top: 0px;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
}

.iDøren_ikon {
    width: 100px;
    margin-bottom: 0px;
}

.idøren {
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.idøren_beskrivelse {
    font-size: 15px;
    margin-top: 0px;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
}

/*Styling af køb billet SLUT*/

/*Bliv frivillig START*/
.blivFrivillig {
    text-align: center;
    margin-top: 60px;
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2)
}

.BlivSkuespiller a{
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2)
}

.frivilligimg {
    width: 350px;
    height: 450px;
    position: relative;
}

.frivilligTekst {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 1550px;
    font-size: 30px;
    color: #FFFFFF;
    font-family: Roboto_overskrift;
}

.box_frivillig {
    background-color: #FFFFFF;
    height: 3px;
    width: 130px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 1620px;
}

.frivillig_overall,
.skuespiller_overall {
    display: flex;
    justify-content: center;
}

/*Bliv frivillig SLUT*/

/*Bliv skuespiller START*/
.BlivSkuespiller {
    text-align: center;
    margin-top: 60px;
}

.skuespillerimg {
    width: 350px;
    height: 450px;
    position: relative;
}

.skuespillerTekst {
    position: absolute;
    top: 2056px;
    font-size: 30px;
    color: #FFFFFF;
    font-family: Roboto_overskrift;
}

.box_skuespiller {
    background-color: #FFFFFF;
    height: 3px;
    width: 130px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 2130px;
}

/*Bliv frivillig SLUT*/

/*Sponsorer START*/

.Sponsorer{
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-left: 0%;
    margin-right: 0%;
}

/* starten på tidliger forstillinger (Heino) */
.imgGallery{
    width: 80%;
    margin: 10px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 16px;
    justify-content: center;

}
 .imgGallery img{
    width:  150px;
    height: 150px;
    object-fit: cover;
    display: flex;
    cursor: pointer;
    justify-content: center;
    filter: drop-shadow(8px 8px 6px rgba(34, 34, 34, 0.8));
 }

 .container {
    position: relative;
    max-width: 300px; /* Maximum width */
    margin: 0 auto;
    width:  150px;
    display: flex;
    cursor: pointer;
    justify-content: center;
}

.container .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 93%; /* Full width */
  padding: 5px; /* Some padding */
  cursor: pointer;
}
.content h1{
    margin-top: 0%;
    margin-bottom: 0.2rem;
    text-align: center;
}
.content a {
    font-family: Roboto_brød;
    text-decoration: none;
}

 .box{
    background-color: #810029;
    height: 3px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}
 h1 {
    margin-bottom: 0.2rem;
    text-align: center;
}

/* her slutter tidlider forstillinger */

/* her starter koden til 2001 forestillinger (heino)*/
  
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 10px;
    
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    padding: 0 4px;
    box-sizing: border-box;
  }
  
  .column img {
    margin-top: 12px;
    vertical-align: middle;
    width: 97%;
    filter: drop-shadow(8px 8px 6px rgba(34, 34, 34, 0.8));
  }

 .fullImg{
     width: 100%;
     height: 100vh;
     background: rgb(0,0,0,0.9);
     position: fixed;
     top: 0;
     left: 0;
     display: none;
     align-items: center;
     justify-content: center;
    z-index: 10;
 }

 .fullImg img{
    width: 90%;
    max-width: 300px;
    

 }

 .fullImg span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
 }
 .imgGallery img{
    cursor: pointer;
 }

 /* her slutter koden til 2001 forestillinger */


 @media screen and (min-width: 760px) {

    /*Nav start*/
    header {
        justify-content: space-between;
        box-shadow: 0px 4px 5px rgb(0 0 0 / 40%);
    }

    header li {
        float: left;
    }

    header li a {
        padding: 20px 30px;
        color: black;
    }
    header ul a{
        display: inline;
        box-shadow:none;
    }

    header .menu {
        clear: none;
        max-height: none;
        margin-top: auto;
        margin-bottom: auto;
        width: 55%;
    }
    

    header .menu_icon {
        display: none;
    }

    header ul {
        width: 400px;
        background-color: rgb(255, 255, 255);
        position: inherit;
    }
    .menu {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-between;
    }
    .menu a {
        padding: 10px 5px 10px 5px;
        font-size: 120%;
    }


    .nav_logo {
        display: flex;
        width: 100px;
        height: auto;
        justify-content: center;
    }
    .nav_logo img {
    width: 70%;
    }
    .nav_billet_button {
        margin-top: auto;
        margin-bottom: auto;
    }

    /*Nav SLUT*/

    /*Styling af afnsittet hvor man køber billetter START*/
    .købIkoner {
        margin-top: 40px;
        display: flex;
        justify-content: space-evenly;
    }

    .online_ikon,
    .iDøren_ikon, 
    .mail_ikon {
        width: 200px;
    }

    .online,
    .idøren,
    .mail {
        font-size: 40px;
    }

    .online_beskrivelse,
    .idøren_beskrivelse,
    .mail_beskrivelse {
        font-size: 20px;
    }

    /*Styling af afnsittet hvor man køber billetter SLUt*/


    /*Stylign af frivillige og skuespiller START*/
    .forsidebokse {
        margin-top: 40px;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 40px;
    }

    .frivilligTekst {
        margin-top: 400px;
    }

    .box_frivillig {
        margin-top: 370px;
    }

    .skuespillerTekst {
        margin-top: -105px;
    }

    .box_skuespiller {
        margin-top: -139px;
    }

    /*Stylign af frivillige og skuespiller SLUT*/


    /*Footer styling START*/
    .footer_container {
        display: flex;
        justify-content: space-evenly;
    }

    .footerAdresse {
        display: none;
    }

    .facebookIkon {
        width: 100px;
    }

    .footerLinks {
        text-align: left;
    }

    /*Footer styling SLUT*/

     /*style på 2001*/
 .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  } 

  .box{
    background-color: #810029;
    height: 3px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    display: flex;
    
}
 h1 {
    margin-bottom: 0.2rem;
    text-align:start;
    margin-left: 50px;
}
}


@media screen and (min-width: 1200px) {
   
    /*header styling START*/
    
    header .menu{
        align-content: center;
        margin-left: 0px;
        width: 50%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    header ul a{
        display: inline;
    }
    header ul {
        position: inherit;
    }

    .nav_logo{
        width: 170px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .menu {
        font-size: 20px;
        width: 700px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu a {
        margin-top: auto;
        margin-bottom: auto;
    }

    .menu ul{
        margin-bottom: 10px;
    }
    

    .nav_billet_button {
        display: flex;
        padding: 20px;
        font-size: 20px;
        margin-top: auto;
        margin-bottom: auto;
        align-items: center;
        justify-content: center;
    }

   

    /*header styling SLUT*/

    /*Styling slideshow START*/
    img.billede_slide {
        width: 100%;
        object-fit: cover;
        height: 400px;
        bottom: 0;
    }

    .næste,
    .tilbage {
        padding: 40px;
    }

    .nummertekst {
        font-size: 20px;
    }

    /*Styling slideshow SLUT*/

    .teatermasker {
        width: 150px;
        padding: 0%;
        margin-bottom: 1px;
    }

    .overskrift{
        font-size: 50px;
    }

    .udnertekst{
        font-size: 30px;

    }
    

    /*Styling Frivillig og skuespiller bokse START*/
    .frivilligTekst {
        margin-top: 300px;
    }

    .box_frivillig {
        margin-top: 270px;
    }

    .skuespillerTekst {
        margin-top: -210px;
    }

    .box_skuespiller {
        margin-top: -240px;
    }

     /*Styling Frivillig og skuespiller bokse SLUT*/

     .column {
        -ms-flex: 25%;
        flex: 25%;
        max-width: 25%;
      }  

}